@import './styles/breakpoints';

.App {
  @media screen and (min-width: $desktop) {
    max-width: 950px;
  }
  
  padding: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;



  

  .counters {
    display: flex;
    @media screen and (max-width: $desktop) {
      flex-direction: column;
      row-gap: 2rem;
    }

    @media screen and (min-width: $desktop) {
      column-gap: 4rem;
    }
    
  }
}